/*input:focus,
button:focus {
    outline: 1px solid #000;
}
input[type='button']:focus,
input[type='submit'] + label:focus { outline: 2px solid #000;}
a:focus {
    outline: none;
    border: 2px solid #000;
}*/
html, body {min-width: 320px; min-height: 448px;}
body {font-family: 'GmarketSansMedium','Noto Sans KR', sans-serif;}
ul li {list-style: none;}
.container {display: flex; align-items: center; flex-direction: column; position: relative; width: 100%;
    width: 100vw; height: 100%; height: 140vw; min-width: 320px;
    box-sizing: border-box; margin: 0 auto;
   
}
.container.step3 {background: url('../img/bg.svg') no-repeat center center; background-size: 100%;}

.inihub-logo {width: 17.2vw; position: absolute; top: 3.6vw; right: 4vw;}
.inihub-logo img {width: 100%;}
.initech-logo {position: absolute; width: 17.2vw; bottom: 5vw; left: 50%; transform: translateX(-50%);}  
.initech-logo img {width: 100%;}

.ttl {margin-top: 14.4vw;}
.ttl h1 {margin-bottom: 3.2vw; /*line-height: 1.25;*/ font-family: 'GmarketSansMedium'; font-weight: 700; font-size: 6.4vw; color: #26A5B1;  text-align: center;}
.ttl h1 span {display: flex; justify-content: center;  align-items: center; height: 14.4vw; font-size: 11.3vw; color: #fff; background: #26A5B1;}
.txt-rounded {display: inline-flex;  align-items: center;  justify-content: center; width: 57vw; height: 6vw; border-radius: calc(6vw / 2); font-size: 3vw; color: #fff;  background: #042538; line-height:1; text-align: center;}
.visual {margin-top: -3.2vw;}
.visual img {width: 70%; margin: 0 auto;}

.txt-box,
.img-box {margin: 0 auto; margin-top: 4vw; }
.img-box img {width: 78%; margin: 0 auto;}

.post {position: absolute; width: 100%; bottom: 11.2vw; left: 50%; transform: translateX(-50%);}
.post.st1 {height: 57vw;  background: url('../img/wave_1.png') no-repeat center bottom; background-size: 100%;}
.post.st3 {background: url('../img/wave_3.png') no-repeat center bottom; height: 90.2vw; background-size: 100%;}
.post.st2 {background: url('../img/wave_2.png') no-repeat center bottom; height: 115.8vw; background-size: 100%;}
.post.st2 .img-box {margin-top: 6.2vw;}
.post.st2 .img-box img {width: 14.2vw; margin: 0 auto;}
.post .inner {width: 74vw; margin: 0 auto; margin-top: 2vw; display: flex; flex-direction: column; align-items: center;}
.post p {position: relative; text-align: center; font-size: 4vw; z-index: 1;}
.post p.underline {padding-top: 2vw; font-weight: 700; letter-spacing: 0.09em; color: #222;}
.post p.underline::after {content:""; display: inline-block; position: absolute; bottom: 4px; left: 50%; width: 50%; height: 2vw; transform: translateX(-50%); opacity: .8; background: #feed01; z-index:-1;}


.txt-box ul {margin-top: 4vw;}
.txt-box ul li {display: flex; align-items: center; font-size: 3.28vw;  height: 6vw;}
.txt-box ul li::before {content: ''; display: inline-block; width: 4vw; height: 4.8vw; margin-right: 6px; background:url('../img/ico_check.svg') no-repeat center center;}
.txt-box span {display: flex; justify-content: center; margin-top: 1.2vw; font-size: 2.8vw; text-align: center; line-height: 1.25;}
.txt-box h1 {position: relative;text-align: center; font-size: 4vw; line-height:1.25; font-weight: 700;}

.form-wrap {margin-top: 4vw; width: 85%;}
.form-box {padding: 2.8vw 0; border-radius: 10px; background: #eee;}
.input + .input {margin-top: 1.8vw;}
.input { display: flex; align-items: center;}
.input label {display: inline-block; width: 30%; margin-left: 3.2vw; font-size: 2.9vw;}
.input input {width: 60%; padding: 0.4vw 2vw; box-sizing: border-box; border: 2px solid #333; border-radius: 5px; font-size: 3vw; height: 6vw;  font-family: 'GmarketSansMedium'; line-height:2;}
.checkbox {position:relative;  display: flex; align-items: center; margin-top: 2.8vw; font-size: 2.8vw; height: 4.4vw;}
.checkbox input[type="checkbox"] {
    /* 체크박스 기본형태 숨기기 */
    display: inline-block;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.checkbox input[type="checkbox"] + label span {padding-left: 6.4vw;}
.checkbox input[type="checkbox"] + label:before {
    background: #fff;
    position: absolute;
    left: 1vw;
    top: 50%;
    width: 3.8vw;
    height: 3.8vw;
    box-sizing: border-box;
    margin-top: -1.8vw;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 3.8vw;
    text-align: center;
    clear: both;
    content: '';
    display: block;
}
.checkbox input[type="checkbox"]:checked + label:before {
    background: #26A5B1 url('../img/ico_checked.png') no-repeat center center;
    border: none;
    background-size: 55%;
}

input[type='button'],
input[type='submit'] {width: 46vw; height: 8vw; border-radius: calc(8vw / 2); left: 50%; position: absolute;  transform: translateX(-50%); background: transparent; /*width: 0px; height: 0px; opacity: 0; padding: 0; position: absolute; top: -9999px; left: -9999px;*/}

a,
button,
input[type='button'] + label ,
input[type='submit'] + label {
    display: inline-block;
    color: #fff;
    position: relative;
    width: 46vw;
    height: 8vw;
    border-radius: calc(8vw / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'GmarketSansMedium';
    font-size: 4vw;

    letter-spacing: -0.7px;
    background:#26A5B1;
    cursor: pointer;
}
a:hover,
button,
input[type='button'] + label:hover ,
input[type='submit'] + label:hover {color: #fff; box-shadow: 0px 2px 10px 2px rgba(0 0 0 / 24%); transition: all 0.3s ease;}

.btn-wrap,
.input-btn {display: flex; justify-content: center; margin-top: 4vw;}
.bg {position: absolute; bottom: 0; left:0; z-index:-1; width: 100%; background:#26A5B1;}
.bg1 {height: 45.6vw;}
.bg2 {height: 60.4vw;}



/* responsive */
@media (min-width: 500px) {
    .container {width: 500px; height: 700px;  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;}
    .inihub-logo {top: 18px; right:20px; width: 86px;}
    .initech-logo {bottom: 25px; width: 86px;}
    .ttl {margin-top: 72px;}
    .ttl h1 {margin-bottom: 20px; font-size: 2rem;}
    .ttl h1 span {font-size: 3.5313rem; height: 72px;}
    .txt-rounded {width: 285px; height: 30px; line-height: 30px; font-size: .9375rem;border-radius: 15px; }
    .post .inner {width: 370px;}
    .txt-box, 
    .img-box,
    .form-wrap,
    .btn-wrap,
    .input-btn  {margin-top: 20px;}
    .form-box {padding: 14px 0;}
    .post.st2 .img-box img {width: 69px;}
    .visual {margin-top: -16px;}
    .post {bottom: 56px;}
    .post .inner {width: 370px;margin-top: 10px;}
    .txt-box ul {margin-top: 16px;}
    .txt-box span {margin-top: 6px;}
    input[type='button'],
    input[type='submit'] {
    width: 230px; height: 40px; line-height: 40px; border-radius: 20px; }

    a,
    button,
    input[type='button'] + label ,
    input[type='submit'] + label {width: 230px; height: 40px; line-height: 40px; border-radius: 20px; font-size: 20px;}
    .input label {margin-left: 16px; font-size: .9063rem;}
    .checkbox {margin-top: 10px; font-size: .875rem; height: 22px;}
    .checkbox input[type="checkbox"] + label {width: 100%;}
    .checkbox input[type="checkbox"] + label span {padding-left: 32px;}
    .checkbox input[type="checkbox"] + label:before {width: 19px; height: 19px; line-height: 19px; margin-top: -9px;  left: 8px; border-radius: 5px;}
    .checkbox input[type="checkbox"]:focus + label::before {outline: 1px solid #000;}

    .input input {height: 30px; border-radius: 5px;font-size: .9375rem;padding: 2px 10px;}
    .input + .input {margin-top: 9px;}

    .bg1 {height: 228px;}
    .bg2 {height: 302px;}
    .txt-box span {font-size: .875rem;}
    .txt-box ul li {height: 30px; font-size: 1.025rem;}
    .txt-box ul li::before {height: 24px; }
    .txt-box h1 {font-size: 1.25rem;}
    .post p {font-size: 1.25rem;}
    .post p.underline {padding-top: 10px;}
    .post p.underline::after {height: 10px;}
    .post.st1 {height: 285px;}
    .post.st2 {height: 579px;}
    .post.st3 {height: 451px;}
    .post.st2 .img-box {margin-top: 35px;}
}

/* Tablet / PC */
@media (min-width: 820px) {
    .container {width: 620px;max-width: none;height: 868px; }
    .inihub-logo {top: 22px; right:40px; width: 104px;}
    .initech-logo {bottom: 25px; width: 104px;}
    .ttl {margin-top: 88px;}
    .ttl h1 {font-size: 2.4rem;margin-bottom: 20px;}
    .ttl h1 span {font-size: 4.5rem; height: 85px;}
    .txt-rounded {width: 348px; height: 36px; font-size: 1.125rem; border-radius: 18px;}
    .post .inner {width: 370px;}

    .txt-box, 
    .img-box,
    .form-wrap,
    .btn-wrap,
    .input-btn {margin-top: 26px;}
    .form-box {padding: 16px 0;}
    .post.st2 .img-box img {width: 76px;}
    .post.st3 .img-box img {width: 76%;}
    .visual {margin-top: -16px;}

    .post {bottom: 62px;}
    .post .inner {width: 459px; margin-top: 10px;}

    .txt-box ul {margin-top: 20px;}
    .txt-box span {margin-top: 10px;}
    input[type='button'], 
    input[type='submit'] { width: 300px; height: 54px; line-height: 54px; border-radius: 27px; }
    a,
    button,
    input[type='button'] + label ,
    input[type='submit'] + label {
        width: 300px;
        height: 54px;
        line-height: 54px;
        border-radius: 27px;
        font-size: 1.5rem;
    }
    .checkbox {margin-top: 12px; font-size: 1rem; height: 25px; display: flex; align-items: center; }
    .checkbox input[type='checkbox'],
    .checkbox input[type='checkbox'] + label {cursor: pointer;height: 25px;}
    .checkbox input[type="checkbox"] + label:before {width: 20px;height: 20px;}
    .checkbox input[type="checkbox"] + label span {padding-left: 38px;}
    .checkbox input[type="checkbox"]:focus + label::before {outline: 2px solid #000;}

    .input label {font-size: 1.04rem; margin-left: 18px;}
    .input input {height: 38px;  border-radius: 5px; font-size: 1.04rem; padding: 3px 14px;}
    .input + .input {margin-top: 11px;}

    .bg1 {height: 285px;}
    .bg2 {height: 372px;}
    .txt-box span {font-size: 1rem;}
    .txt-box ul li {font-size: 1.18rem; height: 32.5px;}
    .txt-box ul li::before {width: 28px; height: 26px;}
    .txt-box h1 {font-size: 1.5rem;}
    .post p {font-size: 1.5rem;}
    .post p.underline {padding-top: 16px;}
    .post.st1 { height: 352px;}
    .post.st2 {height: 715px;}
    .post.st3 {height: 556px;}
    .post.st2 .img-box {margin-top: 42px;}
}

@media (max-width: 420px) {
    .inihub-logo,
    .initech-logo  {min-width: 55px; }
    .container {height: 155vw; min-height: 490px;}
    .container.step3 {background-size: cover;}
    .post {bottom: 14vw;}
    .post .inner {width: 81.6vw;  min-width: 261.11px;}
    .post.st1 {height: 62vw; background-size: 110%; min-height: 198.39px; }
    .post.st3 { height: 99.2vw;background-size: 110%; min-height: 317.44px;}
    .post.st2 {height: 127vw;background-size: 110%;min-height: 406px;}
    .visual {margin-top: 0;}
    .form-wrap {min-width: 221px;}
    a, 
    button, 
    input[type='button'] + label, 
    input[type='submit'] + label {min-height: 25px;}
    .input label {font-size: 3vw;}
    .input input {height: 7vw}
    .post p.underline::after { height: 1.5vw;}
    .txt-rounded {
        min-width: 182px;
        min-height: 19px;
    }
    .visual img {
        min-width: 224px;
    }
    .post.st3 .img-box img {
        min-width: 203px;
    }
    .txt-box ul li {
        min-height: 19.19px;
    }
    .bg1 {
        min-height: 145.91px;
    }
    .bg2 {
        min-height: 193.27px;
    }
}

@media (max-width: 320px) {
    .ttl h1 {font-size: 20.48px;}
    .ttl h1 span {font-size: 36.16px;}
    .inihub-logo {top: 12px;}
    .initech-logo {bottom: 16px;}
    .post {bottom: 35.84px;}
    .visual {margin-top: 2%;}
    .txt-box, 
    .img-box {margin-top: 12.8px;}
    .checkbox {margin-top: 10px;}
    .txt-box span {margin-top: 10px;}
    .form-box {padding: 8.96px 0;border-radius: 5px;}
    .input + .input {margin-top: 5.76px;}
    .btn-wrap, 
    .input-btn {margin-top: 12.8px;}
    a, 
    button, 
    input[type='button'] + label, 
    input[type='submit'] + label {width: 147px; height: 25.59px; border-radius: calc(25.59px / 2); font-size: 12.8px;}
    .post.st2 .img-box {
    margin-top: 19.8px;
}
.input input {
    height: 22.39px;
}
 .txt-box ul li {
       font-size: 10.496px;
    }
    .post p {font-size: 12.8px;}
}